@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

main {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 2rem;
}

.header__heading {
  font-size: 7rem;
  font-family: 'Creepster', cursive;
}

.header__search {
  font-size: 1.5rem;
}

.img--left {
  width: 600px;
  padding-left: 1rem;
}

.img--right {
  width: 600px;
  padding-right: 1rem;
}
